HWADDR={{ hwaddr }}
BOOTPROTO={{ bootproto }}
PEERDNS={{ peerdns }}
PEERROUTES={{ peeroutes }}
IPV6INIT={{ ipv6init }}
IPV6_AUTOCONF={{ ipv6_autoconf }}
IPV6_DEFROUTE={{ ipv6_defroute }}
IPV6_FAILURE_FATAL={{ ipv6_failure_fatal }}
IPADDR={{ ipaddr }}
NETMASK={{ netmask }}
GATEWAY={{ gateway }}
DNS1={{ dns1 }}